/* Layout Geral */
.pokemon-detail-page { display: flex; flex-direction: column; min-height: 100vh; }
.header { padding: 30px 20px; color: white; }
.pokemon-identity { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;}
.name { text-transform: capitalize; font-size: 2rem; }
.header .types { display: flex; list-style: none; padding: 0; gap: 10px; }
.header .type { padding: 5px 15px; border-radius: 20px; filter: brightness(1.1); font-size: 0.8rem; }

/* Imagem */
.pokemon-image { width: 180px; align-self: center; z-index: 2; margin-bottom: -40px; }

/* Card de Detalhes */
.details-card { background: white; border-radius: 30px 30px 0 0; padding: 50px 25px; flex: 1; }

/* ABAS LADO A LADO */
.tabs { display: flex; list-style: none; padding: 0; justify-content: space-between; margin-bottom: 25px; border-bottom: 1px solid #eee; }
.tab-item { padding-bottom: 15px; color: #ccc; cursor: pointer; font-weight: bold; flex: 1; text-align: center; }
.tab-item.active { color: #000; border-bottom: 2px solid #6c79db; }

/* ESCONDER CONTEUDO */
.tab-content { display: none; }
.tab-content.active { display: block; }

/* Grid de Informações */
.info-grid { display: grid; grid-template-columns: 100px 1fr; gap: 12px; margin-bottom: 20px; }
.label { color: #aaa; font-size: 0.9rem; }
.value { color: #333; font-size: 0.9rem; }
.section-title { font-size: 1rem; margin: 20px 0 10px 0; }

/* Stats e Barrinhas */
.stat-row { display: flex; align-items: center; margin-bottom: 12px; }
.label-stat { width: 100px; color: #aaa; font-size: 0.8rem; text-transform: capitalize; }
.value-stat { width: 35px; font-weight: bold; text-align: right; margin-right: 15px; }
.bar-container { flex: 1; height: 4px; background: #f0f0f0; border-radius: 2px; }
.bar-fill { height: 100%; border-radius: 2px; }
.bar-fill.grass { background: #48d0b0; }
.bar-fill.fire { background: #fb6c6c; }
.bar-fill.water { background: #70b7fa; }
.bar-fill.electric { background: #f7cf2e; }

.evo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.evo-item {
    text-align: center;
}

.evo-item img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
}

.evo-arrow {
    color: #eee;
    font-size: 1.2rem;
    font-weight: bold;
}